.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 30px;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 20px;

}

.search-box{
    margin-top: 15px;
    margin-left: 50px;
}

input[type="text"]{
    margin: 20px;
    margin-left: 10px;
}

