.login-button{
  display: flex;
  justify-content: flex-end;
  margin: 30px;
  margin-right: 55px;
  cursor: pointer;
}

.mb-3{
  width: 20vw;
}

.nav-section{
    display: flex;
    justify-content: center;
}

.menu-area{
    display: flex;
    justify-content: center;
}

.menu-list{
    display: flex;
    list-style-type: none;
}

.menu-list li{
    padding: 20px;

}

.search-box{
    margin-left: 50px;
}

input[type="text"]{
    margin: 20px;
    margin-left: 10px;
}

.card{
    margin-bottom: 25px;
}

.card:hover{
  transform: scale(1.15)
}



